trigger:
  branches:
    include:
      - main

variables:
  azureSubscription: 'azure-connection'
  acrName: 'mydevopsacr'
  imageName: 'user-service'
  aksCluster: 'myAKSCluster'
  resourceGroup: 'devops-rg'

stages:
  - stage: Build
    displayName: 'Build & Push Docker Image'
    jobs:
      - job: Build
        pool:
          vmImage: 'ubuntu-latest'
        steps:
          - checkout: self

          - task: Docker@2
            displayName: 'Build and push image to ACR'
            inputs:
              containerRegistry: '$(azureSubscription)'
              repository: '$(imageName)'
              command: 'buildAndPush'
              Dockerfile: 'user-service/Dockerfile'
              buildContext: 'user-service'
              tags: |
                $(Build.BuildId)
                latest

  - stage: Deploy
    displayName: 'Deploy to AKS'
    dependsOn: Build
    jobs:
      - deployment: Deploy
        environment: 'aks'
        pool:
          vmImage: 'ubuntu-latest'
        strategy:
          runOnce:
            deploy:
              steps:
                - task: Kubernetes@1
                  displayName: 'Set kubectl context'
                  inputs:
                    connectionType: 'Azure Resource Manager'
                    azureSubscriptionEndpoint: '$(azureSubscription)'
                    azureResourceGroup: '$(resourceGroup)'
                    kubernetesCluster: '$(aksCluster)'
                    useClusterAdmin: true

                - script: |
                    echo "Updating image in manifest"
                    sed -i 's|mydevopsacr.azurecr.io/user-service:v1|mydevopsacr.azurecr.io/user-service:$(Build.BuildId)|' manifests/user-deployment.yaml
                  displayName: 'Update manifest image tag'

                - task: Kubernetes@1
                  displayName: 'Deploy to AKS'
                  inputs:
                    connectionType: 'Azure Resource Manager'
                    azureSubscriptionEndpoint: '$(azureSubscription)'
                    azureResourceGroup: '$(resourceGroup)'
                    kubernetesCluster: '$(aksCluster)'
                    useClusterAdmin: true
                    command: 'apply'
                    useConfigurationFile: true
                    configuration: 'manifests/'
