trigger:
  branches:
    include:
      - main
pool: Default

variables:
  azureSubscription: 'ApplicationSC'
  acrName: 'hello01'
  imageName: 'user-service'
  aksCluster: 'myAKSCluster'
  resourceGroup: 'MyRGc'

stages:
  - stage: Build
    displayName: 'Build & Push Docker Image'
    jobs:
      - job: Build
       
        steps:
          - checkout: self

          - task: Docker@2
            displayName: 'Build and push image to ACR'
            inputs:
              containerRegistry: 'hello01SC'
              repository: 'user-service'
              command: 'buildAndPush'
              Dockerfile: 'user-service/Dockerfile'
              tags: |
                $(Build.BuildId)
                latest

          # - task: Docker@2
          #   displayName: 'Build and push image to ACR'
          #   inputs:
          #     containerRegistry: '$(azureSubscription)'
          #     repository: '$(imageName)'
          #     command: 'buildAndPush'
          #     Dockerfile: 'user-service/Dockerfile'
          #     buildContext: 'user-service'
          #     tags: |
          #       $(Build.BuildId)
          #       latest

  - stage: Deploy
    displayName: 'Deploy to AKS'
    dependsOn: Build
    jobs:
      - deployment: Deploy
        environment: 'aks'
     
        strategy:
          runOnce:
            deploy:
              steps:
                - task: Kubernetes@1
                  displayName: 'Set kubectl context'
                  inputs:
                    connectionType: 'Azure Resource Manager'
                    azureSubscriptionEndpoint: '$(azureSubscription)'
                    azureResourceGroup: '$(resourceGroup)'
                    kubernetesCluster: '$(aksCluster)'
                    useClusterAdmin: true

                # - script: |    ### Use bash for Linux/macOS agents
                #     echo "Updating image in manifest"
                #     sed -i 's|hello01.azurecr.io/user-service:v1|hello01.azurecr.io/user-service:$(Build.BuildId)|' manifests/user-deployment.yaml
                #   displayName: 'Update manifest image tag'

                - powershell: |   ### Use PowerShell for Windows agents
                    Write-Host "Updating image in manifest"
                    (Get-Content manifests/user-deployment.yaml) -replace 'hello01.azurecr.io/user-service:v1', "hello01.azurecr.io/user-service:$(Build.BuildId)" | Set-Content manifests/user-deployment.yaml
                  displayName: 'Update manifest image tag'

                - task: Kubernetes@1
                  displayName: 'Deploy to AKS'
                  inputs:
                    connectionType: 'Azure Resource Manager'
                    azureSubscriptionEndpoint: '$(azureSubscription)'
                    azureResourceGroup: '$(resourceGroup)'
                    kubernetesCluster: '$(aksCluster)'
                    useClusterAdmin: true
                    command: 'apply'
                    useConfigurationFile: true
                    configuration: 'manifests/'
